@import 'tailwindcss';
@plugin "daisyui";
@import '@nuxt/ui';

:root {
  --ui-primary: #2563eb;
  --ui-color-primary-50: #eff6ff;
  --ui-color-primary-100: #dbeafe;
  --ui-color-primary-200: #bfdbfe;
  --ui-color-primary-300: #93c5fd;
  --ui-color-primary-400: #60a5fa;
  --ui-color-primary-500: #3b82f6;
  --ui-color-primary-600: #2563eb;
  --ui-color-primary-700: #1d4ed8;
  --ui-color-primary-800: #1e40af;
  --ui-color-primary-900: #1e3a8a;
  --ui-color-primary-950: #172554;
  --color-primary: var(--ui-primary);
}

/* Source: https://github.com/nuxt/ui/issues/2332#issuecomment-2622667764 */
@layer base {
   button,
   [role="button"] {
      @apply cursor-pointer;
      @apply disabled:cursor-not-allowed;
   }
}
